
nav{
  width: 100%;
  height: 60px;
  background-image:url(https://i.redd.it/3t88melm5eb01.jpg)
}

nav p {
  font-family: arial;
  color: white;
  font-size: 24px;
  line-height: 25px;
  float: left;
  padding: 0px 20px;
}

nav ul li {
  float: left;
}

nav ul li {
  float: right;
  list-style: none;
  position: relative;
}

nav ul li a {
  display: block;
  font-family: arial;
  color:White;
  font-size: 20px;
  padding: 22px 14px;
  text-decoration: none;
}

nav ul li ul {
  display: none;
  position: absolute;
  background-color: white;
  padding: 10px;
  border-radius: 0px 0px 4px 4px;
}

nav ul li:hover ul {
  display: block;
}

nav ul li ul li {
  width: 180px;
  border-radius: 4px;
}

nav ul li ul li a:hover {
  background-color: #df3131;
}
.container {

  margin:30px;
  display: grid;
  width: 1000px;
  height: 1000px;
  grid-template-columns: 1000px 1000px;
  border: 2px solid red;
  display: flex;
  flex-wrap: wrap;
  }
  .images{
   width: 100px;
   height: 100px;
   display:flex;
  }

#addimagebtn{
  padding:10px;
  font-style: italic;
  font-size: 20px;
  width: auto;
  height: auto;
}