<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Add Image</title>
    <link rel="stylesheet" href="/css/addImage.css">
</head>
<body>
    <h1>Add Image here</h1>
    <form action="/addImage" method="POST">
        <br>
        <br>
        Where do you want your image to be?(54 is row 5 colum 4):
        <input type="text" name="location">
        <br>
        Image_url:
        <input type="text" name="image_url">
        <br>
        URL to your website(this website will open when users click on your image)
        <input type="text" name="website_url" id="">
    </form>
</body>
</html>