<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Tour of Japan</title>
    <link rel="stylesheet" href="/css/home22.css">
  </head>
  <body>
       
    <nav>
      <ul>
        <li><a href ="#section1">Home</a></li>
        <li><a href ="#section2">Mosaic</a></li>
        <li><a href ="#section3">Upload</a></li>
        <li><a href ="#section4">Contact</a></li>
      <ul>
    </nav>
    <div id="section1">
    </div>
    <div class="section2">
<center>
      <div class="container">
      {%for i in images%}
      
      <a id={{i.location}} href={{i.url}}>
      <img src={{i.image_url}} alt="image did not load" class="images" >
      
      </a>
      {% endfor %}

      </div>
</center>
    </div>
    <button onclick="window.location.href = 'http://localhost:8080/addImage';" id="addimagebtn">Click Here to add your own image</button>
    <div class="section2">
    <h1> This is Uploader Section</h1>
    <div class="section2">
    <h1> This is Contact Section</h1>
    
    <script src="home.js" charset="utf-8"></script>
  </body>
</html>
